<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - Entertainment Hub</title>
    <link rel="icon" type="image/png" href="/images/logofevicon.jpg">
    <link rel="stylesheet" href="/about.css">
    
</head>
<body>
    
    <img  class="logo" src="/images/signup_logo.jpg" alt=""> 
    <nav class="navbar"> 
        <ul>
            <li><a href="/home2" class="home-button">Home</a></li>
            <li><a href="#" class="back-button" onclick="history.back()">Back</a></li>
        </ul>
    </nav>
    <header>
        <h1>About EntertainmentVerse</h1>
    </header>

    <div class="container">
        <h2>Our Story</h2>
        <p>Welcome to EntertainmentVerse, your ultimate destination for all things entertainment. We started this journey with a simple idea: to bring joy and excitement to people's lives through entertainment. Our team is passionate about what we do, and we're here to share our love for movies, music, games, and more with you.</p>
        
        <h2>What We Do</h2>
        <p>At EntertainmentVerse we offer a wide range of content and experiences:</p>
        <ul>
            <li>comedy Reviews and Recommendations</li>
            <li>Music Discovery and Playlists</li>
            <li>Workshop Reviews and Tutorials</li>
            <li>Happy streets and special moments</li>
        </ul>
        <h2>Our Mission</h2>
        <p>Our mission is to provide a one-stop destination for entertainment enthusiasts, offering a diverse range of content, from the latest movie reviews and celebrity news to gaming updates and music recommendations.</p>
        <h2>Our Vission</h2>
        <p>Our vision is to continuously innovate, adapt, and lead the way in the digital entertainment space, embracing emerging technologies and trends to provide a dynamic and engaging user experience. We envision a future where our website serves as a catalyst for creativity, where emerging artists and talents find a platform to shine, and where our audience can discover, share, and connect over their shared passion for entertainment.</p>

        <h2>Meet Our Team</h2>
        <div class="team-member">
            <img src="jaan.jpg" alt="Jaan - Founder">
            <h3>Jaan</h3>
            <p>Founder and CEO</p>
        </div>
        <div class="team-member">
            <img src="jane-smith.jpg" alt="dhatchu - Editor-in-Chief">
            <h3>dhatchu</h3>
            <p>Editor-in-Chief</p>
        </div>
        <div class="team-member">
            <img src="emily-johnson.jpg" alt="kaja - Creative Director">
            <h3>kaja</h3>
            <p>Creative Director</p>
        </div>
    </div>
</body>
</html>
