<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logofevicon.jpg">
    <link rel="stylesheet" href="/music.css">

    <title>Comedy Event</title>
</head>

<body>
 <header>
     
    <img  class="logo" src="/images/signup_logo.jpg" alt=""> 
    <nav class="navbar">

        <ul>
            <li><a href="/home" class="home-button">Home</a></li>
            <li><a href="/signup" class="home-button">Signup</a></li>
            <li><a href="/login" class="home-button">Login</a></li>
            <li><a href="#" class="back-button" onclick="history.back()">Back</a></li>
        </ul>
    </nav>
        <h1>Upcoming Comedy Event</h1>
    </header>

    <div class="event-container">
        <div class="event-card">
            <a href="/comedy/stand_up">
            <img src="/images/standup.jpg" alt="Stand-up Comedy Event">
            
            <h2>Stand-up Comedy Event</h2>
            <p>Get ready to laugh your heart !</p>
        </div>
        <div class="event-card">
            <a href="/comedy/improv">
                <img src="/images/improv.jpg" alt="Improv Comedy Event">
            
            <h2>Improv Comedy Event</h2>
            <p>Experience spontaneous improv performers!</p>
        </div>
        <div class="event-card">
            <a href="/comedy/sketch">
                <img src="/images/newsketch.jpeg" alt="Sketch Comedy Event">
            <!-- Update the image source -->
            <h2>Sketch Comedy Event</h2>
            <p>Witty and entertaining sketch comedy !</p>
        </div>
        <div class="event-card">
            <a href="/comedy/slapstick">
                <img src="/images/slapstick.jpg" alt="Slapstick Comedy Event">
            <!-- Update the image source -->
            <h2>Slapstick Comedy Event</h2>
            <p>Laugh until your sides hurt antics!</p>
        </div>
        <div class="event-card">
            <a href="/comedy/dark">
                <img src="/images/dark.jpg" alt="Dark Comedy Event">
            <!-- Update the image source -->
            <h2>Dark Comedy Event</h2>
            <p>Explore the darker, edgier side of comedy !</p>
        </div>
    </div>

    <footer class="footer">
        &copy; 2023 Your Comedy Event
    </footer>
</body>

</html>