<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="/images/logofevicon.jpg">

    <title>Music Show</title>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet"  href="/particularpage.css">
</head>

<body>
    
    <img  class="logo" src="/images/signup_logo.jpg" alt=""> 
    <nav class="navbar">

        <ul>
            <li><a href="/home" class="home-button">Home</a></li>
            <li><a href="/signup" class="home-button">Signup</a></li>
            <li><a href="/login" class="home-button">Login</a></li>
            <li><a href="#" class="back-button" onclick="history.back()">Back</a></li>
        </ul>
    </nav>
     <div class="video-container">
        <iframe src="D:\MCA\SEM 1\PROJECT\music vedio (1).mp4" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container">
        <h1>Kaatrin Mozhi-Live In Concert</h1>

        <p><i class="fa fa-calendar"></i> October 31, 2023</p>
        <p><i class="fa fa-map-marker"></i> Concert Hall, City Name</p>
        <hr class="hr">
        <p>More Information</p>
        <p><i style="font-size:24px" class="fa">&#xf017;</i> 4 hours</p>
        <p><i class="fa fa-language"></i> Tamil</p>
        <p><i class="fa fa-users"></i> Recommended for all ages</p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <hr class="hr">
        <h3 class="description">Description</h3>

        <p>Get ready for an amazing night of music! Join us on the date mentioned above at the following location for a fantastic music show.</p>

        <p>This 4-hour event will be a celebration of Tamil music and culture. It's suitable for all age groups, so bring your friends and family for a great time!</p>

        <p>Don't miss out on this incredible event. See you there!</p>
        
        <a href="/booking" class="book-button">Book Now</a>
    </div>
</body>

</html>
